:root {
  --white: #FFF;
  --red: #F2243A;
  --black: #313131;
  --yellow: 
  #EFC842;
}

.card-details {
  height: 400px;
  width: 450px;
  border: 5px solid var(--red);
  border-radius: 4px;
}

.card-top {
  background-color: var(--yellow);
  height: 110px;

  padding: 20px;
}

.card-top h2 {
  color: var(--black);
  font-size: 35px;
  margin-left: auto;
}

.card-top h2::first-letter {
  text-transform: uppercase;
}

.types {
  height: 30px;
  width: 100px;
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  padding: 2px;
  margin-right: 5px;
}

.card-stats {

 margin: 27px;
 line-height: 2.8rem;
 font-size: 24px;


 display: grid;
 grid-template-columns: auto auto; 
 
}

.card-stats span{
  text-transform: capitalize;
  font-weight: bold;

  color: #313131;
}
