@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container{
  background-color: #EFC842;
  width: 100%;
  height: 90.31vh;
  padding: 0 auto;
  display: flex;
}

.imagem{
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: relative;
}

.pikachu{
  width: 780px;
  position: absolute;
  top: 48px;
  left: 20%;
  transform: translateX(-50px) translateY(-50px);
}

.container .title {
  font-size: 45px;
  padding: 10px;
  text-align: start;
  
  display: block;
  
  position: relative;
  left: 12%;
  margin-top: 85px;

}   

.container .title .subtitle{
  font-size: 22px;
  text-align: justify;
   margin-bottom: 18px;
}

.btn {
  height: 66px;
  width: 268px;

  border: none;
  border-radius: 15px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  
  cursor: pointer;
  
  position: absolute;
  top: 490px;
  left: 160px;

  background: #F2243A;
  color: #FFF;
 
}

.btn:hover{
  transition: 0.3s;
  color: #F2243A;
  background: #FFF;
   
}


@media screen and (min-width: 481px) and (max-width:991px) {
 
  .container {
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
     
  }
  
  .container .title{
    position: absolute;
    top: -25px;
    left: 15px;

    text-align: start;
    justify-content: flex-start;
    
    font-size: 40px;
  
  }

  .container .imagem{
    width: 100%;
    height: 100%;
    overflow: hidden;
   
  }
  

  .container .pikachu{
    position:absolute;
    left: -12px;
    
    height: 100%;
    opacity: 0.1;
  }

  .container .btn{
    width: 360px;
    position: relative;
    left: 20px;
    top: 125px;
    z-index: 1;
   }
}

@media screen and (min-width: 992px) and ( max-width: 1200px) {
  .container {
    
    width: 100%;  
  
  }
  
  .container .title{
 
    font-size: 36px;
  
  }

}



/*

@media (max-width: 1146px)
{
  .container {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
  
  .container .title{
    position: fixed;
    top: 0;
    left: 2;

    text-align: start;
    
    font-size: 45px;
  }

  .container .pikachu{
    position: relative;
    left: 0;
    
    opacity: 0.1;
  }

  .container .btn{
    position: absolute;
    left: 4rem;
    
    top: 485px;
    left: 120px;
    z-index: 1;
  }

@media (max-width: 870px)
{
  .container {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
  
  .container .title{
    position: fixed;
    top: 0;
    left: 2;

    text-align: start;
    
    font-size: 45px;

  }

  .container .pikachu{
    position: relative;
    left: 0;
    
    opacity: 0.1;
  }

  .container .btn{
    position: absolute;
    left: 4rem;
    
    top: 455px;
    left: 120px;
    z-index: 1;
  }
  
 @media (max-width: 500px){
  .container {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
  
  .container .title{
    
    top: 0;
    left: 65px;

    text-align: start;
    justify-content: flex-start;
    
    font-size: 45px;
  

  }

  .container .pikachu{
    position: relative;
    left: 0;
    
    opacity: 0.1;
  }

  .container .btn{
    position: absolute;
    
    z-index: 1;
   }
  }
 }
} */