@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container{
  background-color: #EFC842;
  width: 100%;
  height: 100vh;
  padding: 0 auto;
  display: flex;
}

.imagem{
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: relative;
}

.pikachu{
  width: 780px;
  position: absolute;
  top: 48px;
  left: 20%;
  transform: translateX(-50px) translateY(-50px);
}




/*.pikachu{
  width: 680px;
  /* código abaixo centra a imagem ao centro */
/*  position: absolute;
  top: 50%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);

}
*/

.container .title {
  font-size: 45px;
  padding: 10px;
  text-align: start;
  position: relative;
  left: 12%;
  margin-top: 85px;

}   

.container .title .subtitle{
  font-size: 22px;
  text-align: justify;
   margin-bottom: 18px;
}

.btn {
  height: 66px;
  width: 268px;

  border: none;
  border-radius: 15px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  
  cursor: pointer;
  
  position: absolute;
  top: 490px;
  left: 150px;

  background: #F2243A;
  color: #FFF;

  transition: all 0.3s ease;  
}

.btn:hover{
  color: #F2243A;
  background: #FFF;
}

@media (max-width: 1146px)
{
  .container {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
  
  .container .title{
    position: fixed;
    top: 0;
    left: 2;

    text-align: start;
    
    font-size: 45px;
  }

  .container .pikachu{
    position: relative;
    left: 0;
    
    opacity: 0.1;
  }

  .container .btn{
    position: absolute;
    left: 4rem;
    
    top: 485px;
    left: 120px;
    z-index: 1;
  }

@media (max-width: 870px)
{
  .container {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
  
  .container .title{
    position: fixed;
    top: 0;
    left: 2;

    text-align: start;
    
    font-size: 45px;

  }

  .container .pikachu{
    position: relative;
    left: 0;
    
    opacity: 0.1;
  }

  .container .btn{
    position: absolute;
    left: 4rem;
    
    top: 455px;
    left: 120px;
    z-index: 1;
  }
  
 @media (min-width: 530px){
  .container {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
  
  .container .title{
    position: fixed;
    top: 0;
    left: 65px;

    text-align: start;
    justify-content: flex-start;
    
    font-size: 45px;
  

  }

  .container .pikachu{
    position: relative;
    left: 0;
    
    opacity: 0.1;
  }

  .container .btn{
    position: absolute;
    left: 4rem;
  
    z-index: 1;
   }
  }
 }
}