.swiper-wrapper {
  height: 500px;
  width: 100%;
}

.slider {
  background-color: black;

  color: #FFF;
  font-weight: bold;
  font-size: 40px;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.swiper-button-next, .swiper-button-prev { 
  color: black;
}